<footer class="footer">
  <div class="footer__container">
    <!-- Sección Izquierda (Logo y Navegación) -->
    <div class="footer__info">
      <h2 class="footer__title">LAURRVIC SHOP</h2>
      <nav class="footer__nav">
        <ul class="footer__links">
          <li><a href="#inicio" class="footer__link">Inicio</a></li>
          <li><a href="#acerca" class="footer__link">Sobre Nosotros</a></li>
          <li><a href="#ofertas" class="footer__link">Ofertas</a></li>
          <li><a href="#servicios" class="footer__link">Servicio</a></li>
          <li><a href="#testimonios" class="footer__link">Testimonios</a></li>
        </ul>
      </nav>
    </div>

    <!-- Sección Central (Newsletter) -->
    <div class="footer__newsletter">
      <h3>Suscríbete y recibe ofertas exclusivas</h3>
      <form
        action="https://formspree.io/f/mknkkrkj"
        method="POST"
        class="footer__form"
      >
        <input
          type="email"
          placeholder="Tu correo electrónico"
          class="footer__input"
          name="_replyto"
          required
        />
        <button type="submit" class="footer__submit">Suscribirse</button>
      </form>
    </div>

    <!-- Sección Derecha (Redes Sociales) -->
    <div class="footer__social">
      <h3>Síguenos</h3>
      <div class="footer__icons">
        <a href="#" class="footer__icon"
          ><img src="./images/facebook.svg" alt="Facebook"
        /></a>
        <a href="#" class="footer__icon"
          ><img src="./images/twitter.svg" alt="Twitter"
        /></a>
        <a href="#" class="footer__icon"
          ><img src="./images/youtube.svg" alt="YouTube"
        /></a>
      </div>
    </div>
  </div>

  <div class="footer__copy">
    <p>&copy; 2025 LAURRVIC SHOP | Diseñado por <b>Yiseth Tovar</b></p>
  </div>
</footer>
