<section class="servicios-container">
  <h2 class="fw-bold text-center">SERVICIOS</h2>
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg">
        <img src="/carrusel/foto.jpeg" class="card-img-top" alt="Devoluciones" />
        <div class="card-body text-center">
          <p class="fw-bold">Devoluciones Sin Complicaciones</p>
          <p class="card-text">
            Si no estás satisfecho con tu compra, nuestro proceso de devoluciones
            es simple y sin estrés. Tu satisfacción es nuestra garantía.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg">
        <img src="/carrusel/foto-paquete.jpg" class="card-img-top" alt="Envío" />
        <div class="card-body text-center">
          <p class="fw-bold">Envío Rápido y Seguro</p>
          <p class="card-text">
            Cada compra que realizas llega a tu puerta rápidamente y en perfectas
            condiciones. Nuestra prioridad es tu satisfacción y comodidad.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 mb-4">
      <div class="card shadow-lg">
        <img src="/carrusel/foto-asesoria.jpg" class="card-img-top" alt="Asesoría" />
        <div class="card-body text-center">
          <p class="fw-bold">Asesoría Personalizada</p>
          <p class="card-text">
            Te ayudamos a encontrar exactamente lo que necesitas con nuestro
            servicio de asesoría personalizada. Déjanos guiarte hacia las mejores
            decisiones de compra.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
