<div class="effortless-container">
  <h2 class="title">Producción sin esfuerzo</h2>
  <div class="content">
    <div class="image-wrapper">
      <img src="produccion.jpg" alt="Producción sin esfuerzo" loading="lazy" />
    </div>
    <div class="text-wrapper">
      <h3>LAURRVIC SHOP procesa, empaqueta y entrega tus productos en cualquier parte del mundo</h3>
      <h4>Crea y vende productos personalizados sin complicarte con los envíos ni tener que almacenar stock.</h4>
      <p>
        La impresión bajo demanda te evita tener que invertir en inventario o pedir un mínimo de productos, ya que los
        artículos solo se procesan cuando el cliente hace un pedido.
        Y para que tus pedidos lleguen más rápido, tenemos centros de producción en España, Estados Unidos y otros
        países de Europa, América, Asia y Oceanía.
        ¡Nos esforzamos para estar lo más cerca posible de tus clientes!
      </p>
      <a class="btn-primary" routerLink="/auth/login">Empieza <span>&#8250;</span></a>
    </div>
  </div>
</div>
