.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('/images/ropa.avif') center/cover no-repeat;
  animation: fadeZoomFloat 40s infinite ease-in-out;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}

.home-hero::before {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('/images/ropa.avif');
}

.pedido-hero::before {
  background-image: linear-gradient(135deg, rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('/images/pedido.avif');
}

.default-hero::before {
  background-color: #333;
}

.cta {
  display: inline-block;
  background-color: #2091F9;
  color: #fff;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 32px;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  text-align: center;
  max-width: 150px;
}

.cta:hover {
  background-color: #1769aa;
}

@keyframes fadeBg {
  0%, 100% {
    background-position: center;
  }
  50% {
    background-position: center top;
  }
}

// sensación de profundidad
// .hero::before {
//   animation: zoomBg 25s infinite ease-in-out;
// }

@keyframes zoomBg {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

// Da un toque de "vida" al fondo
// .hero::before {
//   animation: floatBg 30s infinite ease-in-out;
// }

@keyframes floatBg {
  0%, 100% {
    background-position: center;
  }
  50% {
    background-position: center 40%;
  }
}

// Combinación (pro) — ¡Este es el combo más 🔥!
// .hero::before {
//   animation: fadeZoomFloat 40s infinite ease-in-out;
// }

@keyframes fadeZoomFloat {
  0%, 100% {
    transform: scale(1);
    background-position: center;
  }
  50% {
    transform: scale(1.05);
    background-position: center top;
  }
}
