<section class="contacto" id="contact">
    <div class="container">
      <div class="col_informacion">
        <p class="display-6 text-primary title">Contacta con nosotros</p>
        <p>
          Obtén una solución personalizada para tu negocio. Rellena el formulario
          con tus datos y nos pondremos en contacto contigo tan pronto como sea
          posible.
        </p>
      </div>
      <div class="col_form">
        <!-- Formulario HubSpot -->
        <div id="hubspot-form" class="hubspot-form"></div>
      </div>
    </div>
  </section>
  