<div class="image-container">
    <img 
      *ngFor="let image of firstRowImages" 
      [src]="image" 
      alt="Categoría de Vestidos" 
      class="background-image"
    />
  </div>
  
  <div class="image-container">
    <img 
      *ngFor="let image of secondRowImages" 
      [src]="image" 
      alt="Categoría de Vestidos" 
      class="background-image"
    />
  </div>
  <div class="image-container">
    <img 
      *ngFor="let image of threeRowImages" 
      [src]="image" 
      alt="Categoría de Vestidos" 
      class="background-image"
    />
  </div> 