.slider-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.splide {
  width: 100%;
}

.splide__slide {
    display: flex !important; /* Asegurar que las imágenes estén en fila */
  justify-content: center;
  align-items: center;
  padding: 10px;
}
